@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
// 'M PLUS Rounded 1c', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
// 'Exo', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
// 'Open Sans', sans-serif;

.ah-footer {
    background-color: $themeMain;

    padding: 20px 10px;
    

    display: block;
    flex-direction: column;
    align-self: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;

    .ah-footer-top {
        display: inline-flex;
        justify-content: start;
        align-items: center;
        color: wheat;
        letter-spacing: 1px;
        
        .footer-logo {
            background-color: transparent;
            padding: 5px 10px;
            border-right: 1px solid wheat;
            font-size: 18px;
            letter-spacing: 0;
        
        }

        .footer-logo-next {
            background-color: transparent;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .ah-footer-main {
        padding: 5px 10px;

        .ah-footer-main-container {
            display: flex;
            flex-direction: column;
            align-self: center;

            .ah-footer-main-container-title {
                margin-top: 15px;
                color: darken($color: $fontColor, $amount: 30);

            }

            .ah-footer-main-container-link {
                color: black;

                a {
                    color: black;
                    font-size:14px;

                }
            }

            .social-media {
                display: flex;
                width: 25%;
                padding: 5px 0;
                background-color: transparent;
                justify-content: space-between;

                i {
                    font-size: 20.5px;
                    color:rgba(58, 54, 42, 0.767);
                }

                i:hover {
                    color:rgba(58, 54, 42, 1);
                }
            }
        }
    }

    .ah-footer-bottom {
        padding: 0px 10px;

        p {
            font-style: italic;
            font-size: 12px;
            color: wheat;
        }
    }
}

// media queries for min-width: 740px;
@media (min-width: 740px) {
    .ah-footer {
        padding: 30px 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .ah-footer-top {
            flex-basis: 33%;
            display: flex;
            flex-direction: column;
            align-items: top;
            justify-content: start;
            .footer-logo {
                padding: 0px 10px;
                padding-bottom: 10px;
                border: none;
                border-bottom: 1px solid wheat;
                font-size: 37.5px;
                letter-spacing: 0;
            }
    
            .footer-logo-next {
                text-align: center;
                background-color: transparent;
                padding: 0 10px;
                padding-top: 10px;
                font-size: 22px;
                font-weight: 300;
            }
        }
    
        .ah-footer-main {
            flex-basis: 33%;
            width: 100%;
            padding: 0 10px;
            .ah-footer-main-container {
                justify-content: start;
                align-items: center;
                margin-bottom: 0;
                .ah-footer-main-container-title {   
                    margin: 0;
                    margin-top: 10px;
                }
                .ah-footer-main-container-link {    
                    a {
                        font-size: 13.5px;
                        color: #333;
                    }
                    a:hover {
                        color: black;
                    }
                }
                .social-media {
                    display: flex;
                    width: 100%;
                    padding: 5px 0;
                    background-color: transparent;
                    justify-content: center;
                    margin-bottom: 10px;
                    i {
                        font-size: 22.5px;
                        margin: 0 5.5px;
                    }
                }
            }
        }
    
        .ah-footer-bottom {
            flex-basis: 33%;
            padding: 0px 10px;
            text-align: center;
    
            p {
                font-style: italic;
                font-size: 16px;
                color: wheat;
            }
        }
    }
}