@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
// "Abel", sans-serif;


.ah-main {
  position: relative;
  height: calc(100vh - 61px);
  background-color:lighten($color: $fontColor, $amount: 50);
  padding: 0 15px;

  .ah-main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;

    .ah-h3 {
      font-size: 45px;
      letter-spacing: 2px;
      font-family: "Abel", sans-serif;
      color: white;
    }

    .ah-h4 {

      font-size: 20px;
      letter-spacing: 5.5px;
      margin-bottom: 32.5px;
      font-family: "Abel", sans-serif;
      
      

      .ah-h4-span-top {
        color: whitesmoke;
      }

      .ah-h4-span-bottom {
        color: whitesmoke;
      }
    }

    .ah-main-inner-div {

      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      margin: 0 auto;
      padding: 5px 10px;
      text-align: center;
      border-bottom: 1px solid $backgroundColor;
      .ah-main-input {

        margin-right: 10px;
        // background-image: linear-gradient(
        //     to bottom right,
        //     rgba(223, 155, 77, 0.979),
        //     rgb(122, 67, 27)
        // );
        color: $backgroundColor;
        background-color:transparent;
        font-size: 18px;
        font-weight: lighter;
        &:hover {
          opacity: 1;
        }
      }
      i {
        display: inline-block;
        color: white;   
      }
    }
  }

}
