.ah-main {
  position: relative;
  height: calc(100vh - 61px);
  background-color: transparent;
  padding: 0 15px;

  .ah-main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 0 10px;
    margin: 0 auto;

    text-align: center;

    .ah-h3 {
      font-size: 30px;
      letter-spacing: 2px;
    }

    .ah-h4 {
      font-size: 20px;
      letter-spacing: 1.5px;
      margin-bottom: 32.5px;

      .ah-h4-span-top {
        color: lighten($color: $fontColor, $amount: 20);
      }

      .ah-h4-span-bottom {
        color: lighten($color: $fontColor, $amount: 50);
      }
    }

    .ah-main-input {
      padding: 8px 15px;
      border-radius: 0.25rem;

      box-shadow: 1px 1px 2px gray;
      // background-image: linear-gradient(
      //     to bottom right,
      //     rgba(223, 155, 77, 0.979),
      //     rgb(122, 67, 27)
      // );
      color: $backgroundColor;
      background-color: lighten($color: $borderColor, $amount: 5);
      font-size: 18px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
