.ah-header {
  width: 100%;
  padding: 15px;
  height: max-content;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .ah-h1 {
    font-size: 20px;
  }

  .ah-order {
    font-size: 18px;
    padding: 2.5px 15px;

    border: 1px solid $borderColor;
    border-radius: 0.25rem;

    transition: all 0.1s ease-in-out;
  }
}
