@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
// "Abel", sans-serif;
.ah-header {
  width: 100%;
  padding: 15px;
  height: max-content;
  background-color:lighten($color: $fontColor, $amount: 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lighten($color: $borderColor, $amount: 10);

  .ah-h1 {
    font-size: 20px;
    font-family: "Abel", sans-serif;
    color: white;
  }

  .ah-order {
    font-size: 18px;
    padding: 2.5px 15px;
    color: white;
    font-weight: 400;

    border-radius: 0.25rem;
    font-family: "Abel", sans-serif;

    transition: all 0.1s ease-in-out;
  }
}
