@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #aa7d5e;
  background-color: #cdb3a1;
}

.ah-header {
  width: 100%;
  padding: 15px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #b38a6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfcec2;
}

.ah-header .ah-h1 {
  font-size: 20px;
  font-family: "Abel", sans-serif;
  color: white;
}

.ah-header .ah-order {
  font-size: 18px;
  padding: 2.5px 15px;
  color: white;
  font-weight: 400;
  border-radius: 0.25rem;
  font-family: "Abel", sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ah-main {
  position: relative;
  height: calc(100vh - 61px);
  background-color: #c4a590;
  padding: 0 15px;
}

.ah-main .ah-main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.ah-main .ah-main-div .ah-h3 {
  font-size: 45px;
  letter-spacing: 2px;
  font-family: "Abel", sans-serif;
  color: white;
}

.ah-main .ah-main-div .ah-h4 {
  font-size: 20px;
  letter-spacing: 5.5px;
  margin-bottom: 32.5px;
  font-family: "Abel", sans-serif;
}

.ah-main .ah-main-div .ah-h4 .ah-h4-span-top {
  color: whitesmoke;
}

.ah-main .ah-main-div .ah-h4 .ah-h4-span-bottom {
  color: whitesmoke;
}

.ah-main .ah-main-div .ah-main-inner-div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.ah-main .ah-main-div .ah-main-inner-div .ah-main-input {
  margin-right: 10px;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  font-weight: lighter;
}

.ah-main .ah-main-div .ah-main-inner-div .ah-main-input:hover {
  opacity: 1;
}

.ah-main .ah-main-div .ah-main-inner-div i {
  display: inline-block;
  color: white;
}

.ah-section {
  height: 100vh;
  position: relative;
  background-color: #fff;
}

/*
** Section-About Style
*/
.ah-about {
  height: 50vh;
}

.ah-about .ah-about-div {
  background-color: transparent;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ah-about .ah-about-div .ah-about-h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #b38a6f;
  font-size: 35px;
  margin-bottom: 20px;
}

.ah-about .ah-about-div .ah-about-p {
  color: #bc987f;
  font-size: 16px;
  line-height: 2;
}

/*
** Section-Category Style
*/
.ah-category {
  height: 150vh;
}

.ah-category .ah-category-div {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ah-category .ah-category-div .ah-category-h3 {
  height: 10%;
  top: 2.5%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #b38a6f;
  font-size: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.ah-category .ah-category-div .ah-category-option {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: calc(100%);
  -ms-flex-preferred-size: 22.5%;
      flex-basis: 22.5%;
  margin: 0 auto;
  background-clip: content-box;
  padding: 20px;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: transparent;
  -webkit-box-shadow: 2px 1px 5px whitesmoke;
          box-shadow: 2px 1px 5px whitesmoke;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ah-category .ah-category-div .ah-category-option .ah-category-option-text {
  display: inline-block;
  font-size: 26px;
  font-family: 'Exo', sans-serif;
  letter-spacing: 2px;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.ah-category .ah-category-div .ah-category-option:hover {
  opacity: 1;
  height: 100%;
  z-index: 1;
}

.ah-category .ah-category-div .ah-category-option:hover .ah-category-option-text {
  font-size: 30px;
}

.ah-category .ah-category-div .smoothie {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(194, 253, 167, 0.8)), to(rgba(230, 230, 219, 0.6))), url("../images/smoothie.png");
  background-image: linear-gradient(to bottom right, rgba(194, 253, 167, 0.8), rgba(230, 230, 219, 0.6)), url("../images/smoothie.png");
}

.ah-category .ah-category-div .smoothie .ah-category-option-text {
  color: #cefdc5;
}

.ah-category .ah-category-div .slush {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(243, 166, 239, 0.8)), to(rgba(247, 213, 61, 0.6))), url("../images/slush.png");
  background-image: linear-gradient(to bottom right, rgba(243, 166, 239, 0.8), rgba(247, 213, 61, 0.6)), url("../images/slush.png");
}

.ah-category .ah-category-div .slush .ah-category-option-text {
  color: #ffd9d9;
}

.ah-category .ah-category-div .coffee {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(136, 66, 8, 0.8)), to(rgba(233, 233, 224, 0.6))), url("../images/coffee.png");
  background-image: linear-gradient(to bottom right, rgba(136, 66, 8, 0.8), rgba(233, 233, 224, 0.6)), url("../images/coffee.png");
}

.ah-category .ah-category-div .coffee .ah-category-option-text {
  color: #e4d8b6;
}

.ah-category .ah-category-div .tea {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(228, 200, 41, 0.8)), to(rgba(245, 228, 205, 0.6))), url("../images/tea.png");
  background-image: linear-gradient(to bottom right, rgba(228, 200, 41, 0.8), rgba(245, 228, 205, 0.6)), url("../images/tea.png");
}

.ah-category .ah-category-div .tea .ah-category-option-text {
  color: #f0edd3;
}

.ah-ordering {
  height: 120vh;
}

.ah-ordering .ah-ordering-div {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-clip: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ah-ordering .ah-ordering-div .ah-ordering-h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 35px;
  color: #b38a6f;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  width: 100%;
  height: 100%;
}

.ah-ordering .ah-ordering-div .ah-ordering-option {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ah-ordering .ah-ordering-div .ah-ordering-option .ah-ordering-option-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  opacity: 0;
}

.ah-ordering .ah-ordering-div .direct-order {
  background-image: url("https://raster-static.postmates.com/?url=com.postmates.img.prod.s3.amazonaws.com%2F15390782-2588-46f5-bea8-b0b04c7458a9%2Forig.jpg&quality=85&w=1500&h=0&mode=auto&format=&v=4");
  clear: both;
  font-family: 'Amatic SC', cursive;
}

.ah-ordering .ah-ordering-div .direct-order .ah-ordering-option-text {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  opacity: 1;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.ah-ordering .ah-ordering-div .doordash {
  background-image: url("https://th.bing.com/th/id/Ra59dc8c2ef9ea2cc1356b0d217666ea8?rik=EBSLEEONJUQgBg&pid=ImgRaw");
}

.ah-ordering .ah-ordering-div .grubhub {
  background-image: url("https://th.bing.com/th/id/Rc7e97f24b095c8e168a5dcd6a88526f4?rik=85JgGFyHzQKMtQ&pid=ImgRaw");
}
/*# sourceMappingURL=body.css.map */