@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #532e14;
  background-color: #fff;
}

.ah-header {
  width: 100%;
  padding: 15px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ah-header .ah-h1 {
  font-size: 20px;
}

.ah-header .ah-order {
  font-size: 18px;
  padding: 2.5px 15px;
  color: #532e14;
  font-weight: 400;
  border: 2.5px solid #a55c28;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ah-main {
  position: relative;
  height: calc(100vh - 61px);
  background-color: transparent;
  padding: 0 15px;
}

.ah-main .ah-main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.ah-main .ah-main-div .ah-h3 {
  font-size: 30px;
  letter-spacing: 2px;
}

.ah-main .ah-main-div .ah-h4 {
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 32.5px;
}

.ah-main .ah-main-div .ah-h4 .ah-h4-span-top {
  color: #a55c28;
}

.ah-main .ah-main-div .ah-h4 .ah-h4-span-bottom {
  color: #e1ab85;
}

.ah-main .ah-main-div .ah-main-input {
  padding: 8px 15px;
  border-radius: 0.25rem;
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  color: #fff;
  background-color: #ba672d;
  font-size: 18px;
}

.ah-main .ah-main-div .ah-main-input:hover {
  opacity: 1;
}

.ah-section {
  height: 100vh;
  position: relative;
}

/*
** Section-About Style
*/
.ah-about {
  background-color: wheat;
}

.ah-about .ah-about-div {
  background-color: transparent;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ah-about .ah-about-div .ah-about-h3 {
  color: #a55c28;
  font-size: 25px;
  margin-bottom: 20px;
}

.ah-about .ah-about-div .ah-about-p {
  color: #915023;
  font-size: 16px;
  line-height: 2;
}

/*
** Section-Category Style
*/
.ah-category {
  height: 200vh;
}

.ah-category .ah-category-div {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ah-category .ah-category-div .ah-category-h3 {
  color: #a55c28;
  font-size: 25px;
  margin-bottom: 20px;
}

.ah-category .ah-category-div .ah-category-option {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: calc(100% - 200px);
  margin: 20px auto;
  height: 100%;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: transparent;
  -webkit-box-shadow: 2px 3px 5px rgba(119, 119, 119, 0.541);
          box-shadow: 2px 3px 5px rgba(119, 119, 119, 0.541);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ah-category .ah-category-div .ah-category-option .ah-category-option-text {
  display: inline-block;
  font-size: 16px;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #555;
  background-color: transparent;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.ah-category .ah-category-div .ah-category-option:hover {
  opacity: 1;
  height: 100%;
  z-index: 1;
}

.ah-category .ah-category-div .ah-category-option:hover .ah-category-option-text {
  font-size: 30px;
}

.ah-category .ah-category-div .smoothie {
  margin-left: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 245, 220, 0.915)), to(rgba(245, 245, 220, 0.215))), url("../images/smoothie.png");
  background-image: linear-gradient(to bottom right, rgba(245, 245, 220, 0.915), rgba(245, 245, 220, 0.215)), url("../images/smoothie.png");
}

.ah-category .ah-category-div .slush {
  margin-right: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 245, 220, 0.915)), to(rgba(245, 245, 220, 0.215))), url("../images/slush.png");
  background-image: linear-gradient(to bottom right, rgba(245, 245, 220, 0.915), rgba(245, 245, 220, 0.215)), url("../images/slush.png");
}

.ah-category .ah-category-div .coffee {
  margin-left: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 245, 220, 0.915)), to(rgba(245, 245, 220, 0.215))), url("../images/coffee.png");
  background-image: linear-gradient(to bottom right, rgba(245, 245, 220, 0.915), rgba(245, 245, 220, 0.215)), url("../images/coffee.png");
}

.ah-category .ah-category-div .tea {
  margin-right: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 245, 220, 0.915)), to(rgba(245, 245, 220, 0.215))), url("../images/tea.png");
  background-image: linear-gradient(to bottom right, rgba(245, 245, 220, 0.915), rgba(245, 245, 220, 0.215)), url("../images/tea.png");
}

.ah-ordering {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background-color: transparent;
  height: 150vh;
}

.ah-ordering .ah-ordering-div {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ah-ordering .ah-ordering-div .ah-ordering-h3 {
  font-size: 35px;
  margin-bottom: 40px;
  width: 100%;
}

.ah-ordering .ah-ordering-div .ah-ordering-option {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ah-ordering .ah-ordering-div .ah-ordering-option .ah-ordering-option-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  opacity: 0;
}

.ah-ordering .ah-ordering-div .direct-order {
  background-image: url("https://raster-static.postmates.com/?url=com.postmates.img.prod.s3.amazonaws.com%2F15390782-2588-46f5-bea8-b0b04c7458a9%2Forig.jpg&quality=85&w=1500&h=0&mode=auto&format=&v=4");
}

.ah-ordering .ah-ordering-div .direct-order .ah-ordering-option-text {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  opacity: 1;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.ah-ordering .ah-ordering-div .doordash {
  background-image: url("https://th.bing.com/th/id/Ra59dc8c2ef9ea2cc1356b0d217666ea8?rik=EBSLEEONJUQgBg&pid=ImgRaw");
}

.ah-ordering .ah-ordering-div .grubhub {
  background-image: url("https://th.bing.com/th/id/Rc7e97f24b095c8e168a5dcd6a88526f4?rik=85JgGFyHzQKMtQ&pid=ImgRaw");
}
/*# sourceMappingURL=body.css.map */