@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// 'Open Sans', sans-serif;
// media queries for min-width: 740px;

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: $fontColor;
  background-color: white;
}



u {
  text-decoration: underline
}

@import "./animations/animations";
@import "./header/header";
@import "./main/main";
@import "./section/section";
@import "./menu/menu";
@import "./footer/footer";


.theme-main {
  color: $themeMain;
}

.theme-main-dark {
  color: $themeMainDark;
}

.theme-white {
  color: $themeWhite;
  background-color: $themeWhite;
}

.theme-white-dark {
  color: $themWhiteDark;
  background-color: $themWhiteDark;
}

