@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
// "Abel", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
// 'Amatic SC', cursive;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
// 'M PLUS Rounded 1c', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
// 'Exo', sans-serif;

.ah-section {
  height: 100vh;
  position: relative;
  background-color: white;
}

/*
** Section-About Style
*/
.ah-about {
  // clip-path: polygon(
  //     0 0,
  //     100% 10%,
  //     100% 100%,
  //     0 90%
  // );

  height: 50vh;
  .ah-about-div {


    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .ah-about-h3 {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      color: lighten($color: $fontColor, $amount: 5);
      
      font-size: 35px;

      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .ah-about-p {
      color: lighten($color: $fontColor, $amount: 10);
      font-size: 16px;
      line-height: 2;
    }
  }
}

/*
** Section-Category Style
*/
.ah-category {
  // clip-path: polygon(
  //     0 10%,
  //     100% 0,
  //     100% 90%,
  //     0 100%
  // );

  height: 60vh;
  margin: 20px auto;
  
  .ah-category-div {

    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ah-category-h3 {
      padding: 20px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      color: lighten($color: $fontColor, $amount: 5);
      font-size: 40px;
      align-self: center;
      position: relative;
    }

    .ah-category-option {
      align-self: center;
      width: max-content;
      flex-basis: 22.5%;
      margin: 20px auto;

      padding: 20px 60px;

      opacity: 0.8;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      position: relative;
      background-color: transparent;
      border: 1px solid burlywood;

      transition: all 0.3s ease;

      .ah-category-option-text {
        display: inline-block;
        font-size: 100%;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        letter-spacing: 0;
        position: absolute;

        top: 50%;
        left: 50%;
        color: $fontColor;
        transform: translate(-50%, -50%);

        background-color: transparent;
        transition: all 0.1s ease;
      }

      &:hover {
        opacity: 1;
        height: 100%;
        z-index: 1;

        .ah-category-option-text {
          font-size: 30px;
        }
      }
    }

    .smoothie {
      // margin-left: 50px;

      // background-image: linear-gradient(
      //     to bottom right,
      //     rgba(194, 253, 167, 0.8),
      //     rgba(230, 230, 219, 0.6)
      //   ),
      //   url("../images/smoothie.png");

        .ah-category-option-text {
         
        }
    }

    .slush {
      // margin-right: 50px;

      // background-image: linear-gradient(
      //     to bottom right,
      //     rgba(243, 166, 239, 0.8),
      //     rgba(247, 213, 61, 0.6)
      //   ),
      //   url("../images/slush.png");
        
        .ah-category-option-text {
         
        }
    }

    .coffee {
      // margin-left: 50px;
      // background-image: linear-gradient(
      //     to bottom right,
      //     rgba(136, 66, 8, 0.8),
      //     rgba(233, 233, 224, 0.6)
      //   ),
      //   url("../images/coffee.png");
        .ah-category-option-text {
       
        }
    }

    .tea {
      // margin-right: 50px;

        .ah-category-option-text {
         
        }
    }
  }
}

.ah-ordering {


  height: 50vh;
  margin: 20px auto;



  .ah-ordering-div {
    height: 100%;
    position: absolute;
    background-color: transparent;
    box-shadow: 1px 2px 3px whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-clip: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    

    .ah-ordering-h3 {
      display: inline-block;
      font-size: 25px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      letter-spacing: 2px;
    }

    .ah-ordering-option {
      flex-basis: 50%;
      margin: 0px auto;
      width: 100%;
      height: 100%;
      position: relative;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      border-radius: 3rem / 90%;

      .ah-ordering-option-text {
        width: 100%;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $fontColor;
        opacity: 1;
        padding: 20px 0;
        border: 1px solid $fontColor;
      }
    }


  }
}
