@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
// "Abel", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
// 'Amatic SC', cursive;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
// 'M PLUS Rounded 1c', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
// 'Exo', sans-serif;
@import '../variables';

.ah-section {
  display: flex;
  margin: 20px auto;
  position: relative;
}

/*
** Section-About Style
*/
.ah-about {
  height: 50vh;

  .ah-about-div {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .ah-about-h3 {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      
      
      font-size: 35px;
      
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .ah-about-p {
      width: 80%;
      margin: 0 auto;
      
      line-height: 2;
    }
  }
}

/*
** Section-Category Style
*/
.ah-category {
  // clip-path: polygon(
  //     0 10%,
  //     100% 0,
  //     100% 90%,
  //     0 100%
  // );
  height: 80vh;
  .ah-category-div {

    position: absolute;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ah-category-h3 {
      padding: 20px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      color: $themeMain;
      font-size: 40px;
      align-self: center;
      position: relative;
    }

    .ah-category-option {
      cursor: pointer;
      align-self: center;
      width: max-content;
      flex-basis: 22.5%;
      margin: 20px auto;

      padding: 20px 60px;

      opacity: 0.8;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      position: relative;
      background-color: transparent;
      border: 1px solid burlywood;

      transition: all 0.3s ease;

      .ah-category-option-text {
        display: inline-block;
        font-size: 100%;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        letter-spacing: 0;
        position: absolute;

        top: 50%;
        left: 50%;
        color: $fontColor;
        transform: translate(-50%, -50%);

        background-color: transparent;
        transition: all 0.1s ease;

        input {
          
          text-align: center;
          padding: 1rem;
          background-color: transparent;
          color: inherit;
        }
      }

      &:hover {
        opacity: 1;
        height: 100%;
        z-index: 1;

        .ah-category-option-text {
          font-size: 30px;
        }
      }
    }
  }
}

// media queries for min-width: 740px;
@media (min-width: 740px) {
  .ah-section {
    margin: 40px auto;
  }
  
  /*
  ** Section-About Style
  */
  .ah-about {
    height: 100vh;
    .ah-about-div {
      padding: 0 2.5%;
      .ah-about-h3 {
        font-size: 65px;
      }
      .ah-about-p {
        width: 70%;
        line-height: 2;
        font-size: 22px;
      }
    }
  }
  .ah-category {
    height: 100vh;
    .ah-category-div {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      height: max-content;
      .ah-category-h3 {
        width: 100%;
        height: max-content;
        font-size: 65px;
      }
      .ah-category-option {
        flex-basis: 45%;
        margin: 50px auto;
        height: 200px;
        &:hover {
          height: 200px;
          transition: all 0.2s ease;
          input {
            font-weight: bold;
            letter-spacing: 1.5px;
          }
        }
        .ah-category-option-text {
          input {
            text-align: center;
            font-size: 2.5vh;
            transition: all 0.3s ease;
          }
        }
        &:hover {
          opacity: 1;
          z-index: 1;
          .ah-category-option-text {
            font-size: auto;
          }
        }
      }
    }
  }
}
